/* @import url('https://fonts.googleapis.com/css2?family=Bytesized&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bytesized&family=Jacquard+12&family=Pixelify+Sans:wght@400..700&display=swap');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Prevent scrolling globally */
  position: fixed;
  /* Lock body for iOS to prevent rubber-banding */
  font-size: 16px;
  font-family: "bytesized", sans-serif;
}

p,
h1,
h2,
h3,
h4 {
  font-family: "Pixelify Sans", sans-serif;
  margin: 0;
}

p,
label {
  font-size: 16px;
}

body {
  font-family: "bytesized", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}